.remark {
  background: #08475e;
  z-index: 998;
  overflow: hidden;
}
.remark__text {
  padding: 20px 0;
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
